.TableHeader {
  display: flex;
  width: 100%;
  font-weight: bold;
  font-size: inherit;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--black);

  &-LeftTitle {
    flex-grow: 1;
  }

  &-RightTitle {
    position: relative;
    width: 30rem;
  }
}
