.MeasurementListItem {
  display: flex;
  width: 100%;
  text-decoration: none;
  color: var(--black);
  font-size: inherit;
  padding: 1rem 0rem;
  border-radius: 1rem;
  margin: 0.5rem auto;

  &-Name {
    padding: 0rem 2rem;
    width: calc(100% - 30rem);
    word-wrap: break-word;
  }

  &-Timestamp {
    width: 30rem;
  }

  &:hover {
    box-shadow: 0rem 0rem 0.75rem var(--theme);
  }
}
