.MeasurementProperty {
  display: flex;
  width: 100%;
  font-size: inherit;
  padding: 0.5rem 0rem;
  border-radius: 1rem;
  margin: 0.5rem auto;

  &:hover {
    box-shadow: 0rem 0rem 0.75rem var(--theme);
  }

  &-Name {
    padding: 0rem 1.5rem;
    width: calc(100% - 10rem);
    word-wrap: break-word;
  }

  &-Type {
    width: 18rem;
  }
}
