.Header {
  display: flex;
  height: 8rem;
  align-items: center;
  margin-bottom: 3rem;

  &-LogoContainer {
    position: absolute;
    margin-left: 4rem;
    height: 4rem;
  }

  &-Menu {
    margin: 0rem 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
