.Header {
  position: relative;
  font-size: inherit;
  display: flex;
  height: 14rem;
  align-items: center;
  margin-bottom: 4rem;
  flex-shrink: 0;

  &-LogoContainer {
    position: absolute;
    top: 3.5rem;
    left: 2rem;
    height: 7rem;
    width: 30rem;
  }

  &-Menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
}
