.Header {
  display: flex;
  height: 14rem;
  align-items: center;
  margin-bottom: 4rem;

  &-LogoContainer {
    position: absolute;
    margin-left: 8rem;
    height: 7rem;
  }

  &-Menu {
    margin: 0rem 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
