.RefreshButton {
  font-size: inherit;
  &:hover {
    cursor: pointer;
    color: var(--theme);
  }

  &:disabled {
    cursor: default;
    color: var(--black);
    opacity: 0.5;
  }

  &.rotate1 {
    animation: rotate1 0.5s ease-in 0s;
  }

  &.rotate2 {
    animation: rotate2 0.5s ease-out 0s;
  }
}

@keyframes rotate1 {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate2 {
  100% {
    transform: rotate(360deg);
  }
}
