h2 {
  font-weight: 400;
  font-size: 36pt;
}

h3 {
  margin: 24px 0px;
  font-weight: 400;
  font-size: 24pt;
}

h4 {
  font-size: 18pt;
  font-weight: 500;
}

h5 {
  font-weight: 500;
}

code {
  font-family: 'Space Mono', monospace;
}

strong {
  font-weight: 600;
}

p {
  line-height: 1.4em;
}

a {
  color: var(--theme);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.input-list > li {
  margin-bottom: 24px;
}

.Content {
  flex-grow: 1;
  margin: 0rem auto;
  width: 80%;
  max-width: 140rem;
}

.PageTitle {
  font-size: 4.5rem;
  margin-bottom: 6rem;
}

* {
  &::-webkit-scrollbar {
    width: 2rem;
    height: 2rem;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--dark-grey);
    border-radius: 1rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--theme);
    border-radius: 1rem;
  }
}

p {
  margin: auto;
  max-width: 100rem;
}

p:not(:last-child) {
  margin-bottom: 2rem;
}
