@import 'mixins';
@import 'reset';
@import 'settings';
@import 'global';

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;

  &::selection {
    background-color: var(--theme);
    color: var(--white);
  }
}

body {
  font-size: 1.8rem;
  overflow-x: hidden;
  background-color: var(--light-grey);
  color: var(--black);
  height: 100vh;
  min-height: 100vh;
}

#root {
  height: inherit;
  min-height: inherit;
}

@media screen and (max-width: $breakpoint-two) {
  .Content {
    display: none;
  }
  .WindowTooSmallMessage {
    display: inline;
  }
}

@media screen and (max-width: $breakpoint-three) {
  .Header {
    opacity: 0;
  }
  .Footer {
    opacity: 0;
  }
}
