@import 'mixins';
@import 'reset';
@import 'settings';
@import 'global';

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;

  &::selection {
    background-color: var(--theme);
    color: var(--white);
  }
}

body {
  font-size: 1.8rem;
  overflow-x: hidden;
  background-color: var(--light-grey);
  color: var(--black);
}
