:root {
  --white: #fff;
  --black: #111;
  --lighter-grey: #f5f5f5;
  --light-grey: #dedede;
  --dark-grey: #bbb;
  --darker-grey: #777;
  --theme: #227c3c;
}

/* Screen width break points */
$breakpoint-one: 1200px;
$breakpoint-two: 600px;
$breakpoint-three: 300px;
