@import '../../css/settings.scss';

.Footer {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 3rem 0rem;
  border-top: 1px solid var(--black);
  flex-shrink: 0;

  &-Column {
    margin: 0rem 3rem;
    word-wrap: break-word;
    width: 100%;
  }

  &-Left {
    display: flex;
    align-items: center;
    flex-shrink: 1;

    & span:first-child {
      font-weight: bold;
      width: 12rem;
    }
  }

  &-Endpoint {
    background-color: var(--lighter-grey);
    border-radius: 1rem;
    padding: 1rem;
    margin: -1rem 1rem;
    width: fit-content;
    max-width: calc(100vw - 14rem - 28rem - 6rem - 6rem);
    word-wrap: break-word;
  }

  &-Right {
    text-align: end;
    width: 28rem;
    flex-shrink: 0;
  }
}

@media screen and (max-width: $breakpoint-one) {
  .Footer {
    &-Left {
      flex-direction: column;
      align-items: flex-start;
    }

    &-Endpoint {
      margin: 0rem;
      margin-top: 1rem;
      max-width: calc(100vw - 28rem - 6rem - 6rem);
    }
  }
}

@media screen and (max-width: $breakpoint-two) {
  .Footer {
    &-Column {
      margin: 0rem 1rem;
      word-wrap: break-word;
    }

    &-Left {
      opacity: 0;
    }
  }
}
