.MeasurementDetailsPage {
  font-size: inherit;
  &-Header {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
  }

  &-TableHeader {
    & > .TableHeader-RightTitle {
      width: 18rem;
    }
  }

  &-CenteredTitle {
    width: fit-content;
    align-self: center;
  }

  &-Title.PageTitle {
    font-size: 2.4rem;
    padding: 1.5rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    background-color: var(--lighter-grey);
  }

  &-UpdateInfo {
    display: flex;
    justify-content: flex-end;
  }

  &-TimestampTitle {
    font-style: italic;
  }

  &-Timestamp {
    margin: 0rem 2rem 0rem 4rem;
  }

  &-Properties {
    padding-bottom: 5rem;
    border-bottom: 1px solid var(--black);
    margin-bottom: 5rem;
  }

  &-ErrorMessage {
    margin-top: 5rem;
  }
}
